<div class="row">
  <div class="col-md-12">
    <h1>Conglomerates</h1>
    <% if current_user %>
    <%= link_to 'Add a new conglomerate', new_conglomerate_path %><br>
    <%= link_to 'Return to brands list', brands_path %>
    <% end %>
  </div>
</div>



<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
      <tr></tr>
      <tr>
        <th></th>
        <th>Conglomerate</th>
          <% if current_user %>  
          <th></th>
          <% end %>
      </tr>

      <tbody>
        <% @conglomerates.each do |conglomerate| %>
          <tr>
            <td><%= image_tag conglomerate.photo.url(:thumb), class: 'photo_pic' %></td>
            <td><p><strong><br><br><%= link_to(conglomerate.name, conglomerate_path(conglomerate)) %></strong></p></td>

            <% if current_user %>
            <td>
              <%= link_to "edit", edit_conglomerate_path(conglomerate) %>
              <%= link_to "delete", conglomerate_path(conglomerate), method: :delete, data: {confirm: 'Are you sure you want to delete this conglomerate?'} %>
            </td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

