<div class="row">
  <div class="col-md-6">
    <%= form_for @brand, :html => { :multipart => true} do |f| %>

    <% if @brand.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>
  ​
        <ul>
        <% @brand.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="form-group">
      <%= f.label :house %><br>
      <%= f.text_field :house, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :head_designer %><br>
      <%= f.text_field :head_designer, class: 'form-control' %>
    </div>

    <!-- <div class="form-group"> -->
    <p>
      <%= f.label :conglomerate %><br>
      <%= collection_select(:brand, :conglomerate_id, Conglomerate.all, :id, :name, include_blank: true) %>
    </p>
    <!-- </div> -->

    <!-- <div class="form-group"> -->
    <p>
      <%= f.label :category, "Categories" %><br>
      <%= collection_check_boxes(:brand, :category_ids, Category.all, :id, :name) %>
    </p>
    <!-- </div> -->

 <%= collection_check_boxes(:brand, :category_ids, Category.all, :id, :name) do |cbox| %>
 <%= cbox.label(class: "checkbox inline") { cbox.check_box(class: "checkbox") + cbox.text} %>
 <% end %>







    <div class="form-group">
      <%= f.label :photo %>
      <%= f.file_field :photo, class: 'form-control' %>
    </div>

   <div class="form-group">
      <%= f.label :logo %>
      <%= f.file_field :logo, class: 'form-control' %>
    </div>






    <p><%= f.submit class: "btn btn-primary btn-sm" %></p>

    <% end %>
  </div>
</div>

